.image-size1 {
  width: 40%;
  height: auto;
  background-size: cover;
  background-position: center center;
}

.image-size2 {
  width: 40%;
  height: auto;
  background-size: cover;
  background-position: top center;
}
