.image-size1 {
  width: 40%;
  height: auto;
  background-size: cover;
  background-position: center center;
}

.image-size2 {
  width: 40%;
  height: auto;
  background-size: cover;
  background-position: top center;
}

.box {
  width: 240px;
  height: 240px;
}

.box-1 {
  width: 360px;
  height: 360px;
}

.box-2 {
  width: auto;
  height: 260px;
}

.logo {
  width: 116px;
  height: 48px;
}

.object-fit-cover {
  object-fit: cover;
}
